.main-box {
  border: 4px solid black;
  width: 400px;
  height: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: RGB(196, 196, 196);
  z-index: -1;
}
.exit-btn {
  position: absolute;
  background-color: black;
  color: white;
  height: 30px;
  width: 30px;
  margin-left: 51%;
}
.box-content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.chat-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  margin: 10px;
  height: 50px;
}

.chat-border {
  overflow-x: hidden;
  overflow-y: auto;
  border: 4px solid black;
  padding: 10px;
  width: 94%;
  background-color: black;
  color: white;
  height: 70px;
  margin: 10px;
  /* top: 558px; */
  resize: none;
  text-decoration-color: white;
  font-size: 15px;
  font-weight: bolder;
}
.chet-box {
  /* 세로 스크롤 구현 */
  overflow-x: hidden;
  overflow-y: auto;
  /* --------------- */
  border: 4px solid black;
  margin: 10px;
  background-color: white;
  height: 500px;
}
.text-area {
  resize: none;
  border: transparent;
  width: 99%;
  height: 99%;
}
.admin-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.user-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}
.admin-chat {
  border: 2px solid black;
  width: 150px;
  height: 60px;
  margin-left: 20px;
}
.uset-chat {
  border: 2px solid black;
  width: 150px;
  height: 60px;
  margin-right: 20px;
}
.admin-inchat {
  text-align: left;
  padding-top: 2px;
  padding-left: 2px;
}
.user-inchat {
  text-align: right;
  padding-top: 2px;
  padding-right: 2px;
}
.adchat-day {
  position: relative;
  text-align: right;
  margin-top: 7px;
  padding-right: 3px;
  font-size: 12px;
}
.uschat-day {
  position: relative;
  text-align: left;
  margin-top: 7px;
  padding-left: 3px;
  font-size: 12px;
}
