<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>22Lim Games</title>
    <link rel="stylesheet" href="/public/css/chat_ui.css">
</head>
<body>
     <!-- ----------------------------------chetUi start------------------------------------ -->
 <div class="main-box">
    <button class="exit-btn">✖</button>
    <div class="box-content">
      <div class="chat-head">무엇이든 물어보세요</div>
      <div class="chet-box">
        <div class="admin-box" >
          <p>
            👦
            <div class="admin-chat">
              <div class="admin-inchat">안녕</div>
              <div class="adchat-day">2022.05.07</div>
            </div>
          </p>
        </div>
        <div class="user-box">
          <p>
          <div class="uset-chat">
            <div class="user-inchat">안녕</div>
              <div class="uschat-day">2022.05.07</div>
          </div>  
            👩
          </p>
        </div>
      </div>
      <div class="border-box">
        <textarea  class="chat-border" cols="30" rows="10" placeholder="채팅을 입력해 주세요"></textarea>
      </div>
    </div>
 </div>
</body>
    <!-- ----------------------------------chetUi end-------------------------------------- -->
</body>
</html>