<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paranoia</title>
    <link rel="styleSheet" href="/css/game_reset.css">
    <link rel="stylesheet" type="text/css" href="/css/game_ui.css">
 <style>
    body {
        display: flex;
        background-color: rgb(15, 15, 15);
        justify-content: center;
        align-items: center;

    }
</style>
</head>
<body>

<div id="container_box">
    <!-- 맵 넘어 갈때 효과 창 -->
    <div id="_map_change"></div>
    <!-- 배경 효과 창 -->
    <div id="_map_change"></div>
    <div id="_stg_back"></div>
    
    <!-- 게임 화면창 -->
    <div id="_play_page">
        <canvas id="_stg1"></canvas>
    </div>
    <div id="_play_page2">
        <canvas id="_stg2"></canvas>
    </div>
    <!-- 메인페이지 그림(+게임로고) -->
    <div id="_start_page">
        <!-- <embed id="mainSound" src="./audio/1_bgm_5461177004229516923.mp3" hidden="true" loop="true" volume="0"></embed> -->
        <!-- <audio src="./audio/1_bgm_5461177004229516923.mp3" hidden="true"
        autoplay="true"></audio> -->
        <div id="_title">
            <span>paranoia</span>
        </div>
        <div id="_btn_list">
            <ul>
                <li>
                    <button id="_start_btn">Game Start</button>
                </li>
                <li>
                    <button>Log in</button>
                </li>
                <li>
                    <button id="_load_btn">Load File</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- 게임오버창 -->
    <div id="_game_over">
        <div>Game over</div>
    </div>

    <!-- 인벤토리창 -->
    <div id="_inventory">
        <!-- 아이템 use 버튼 창 -->
        <div id="_item_use">
            <div id="_item_text">
                <span>엑스레이 보드에 대볼 수 있다.</span>
                <button>USE</button>
            </div>
        </div>
        <div id="_low_inven">
            <div id="_tag_inventory">
                <div id="_tag_i">
                    <span>INVENTORY</span>
                </div>
            </div>
            <div id="_item">
                <table>
                    <tr>
                        <td class="item_td" tabindex="1"></td>
                        <td class="item_td" tabindex="2"></td>
                    </tr>
                    <tr>
                        <td class="item_td" tabindex="3"></td>
                        <td class="item_td" tabindex="4"></td>
                    </tr>
                    <tr>
                        <td class="item_td" tabindex="5"></td>
                        <td class="item_td" tabindex="6"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- 설정창 -->
    <div id="_setting_board">
        <div id="_tag_setting">
            <div id="_tag_s">
                <span>SETTING</span>
            </div>
        </div>
        <div id="_setting">
            <div id="_btn_setting">
                <div>
                    <Button id="_main_button">Main</Button>
                </div>
                <div>
                    <Button id="_loadfile_button">Loadfile</Button>
                </div>
            </div>
            <div id="_sound_setting">
                <div id="_sound">Sound</div>
                <input type="range"></div>
            </div>
        </div>

        <!--저장슬롯 load -->
        <div id="_load_filed">
            <div id="_tag_load_filed">
                <div id="_tag_L">
                    <span>LOAD FILED</span>
                </div>
            </div>
            <div id="_load_list">
                <ul>

                    <li>
                        <p>file 1</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>19 : 35 : 22</span>
                        <button>load</button>
                    </li>
                    <li>
                        <p>file 2</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>load</button>
                    </li>
                    <li>
                        <p>file 3</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>load</button>
                    </li>
                    <li>
                        <p>file 4</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>load</button>
                    </li>
                    <li>
                        <p>file 5</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>load</button>
                    </li>
                </ul>
            </div>
        </div>
        <!--저장슬롯 save -->
        <div id="_save_filed">
            <div id="_tag_save_filed">
                <div id="_tag_save">
                    <span>SAVE FILED</span>
                </div>
            </div>
            <div id="_save_list">
                <ul>
                    <li>
                        <p>file 1</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>19 : 35 : 22</span>
                        <button>save</button>
                    </li>
                    <li>
                        <p>file 2</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span id="test">저장시간</span>
                        <button>save</button>
                    </li>
                    <li>
                        <p>file 3</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>save</button>
                    </li>
                    <li>
                        <p>file 4</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>save</button>
                    </li>
                    <li>
                        <p>file 5</p>
                        <div class="character"></div>
                        <span>병원 1층 로비</span>
                        <span>저장시간</span>
                        <button>save</button>
                    </li>
                </ul>
            </div>
        </div>

        <!--기본 텍스트 박스 -->
        <div id="_text_box">
            <div id="_box_t">
                <div id="_text">구급약을 찾았다.</div>
            </div>
        </div>

        <!--퀴즈 인풋 박스 -->
        <div id="_quize_box"> 
            <div id="_box_q">
                <div id="_answer">암호 입력 후 enter를 누르세요.</div>
                <div id="_answer_text">
                    <input type="text" id="_answer_input"></div>
                    <div id="_return_text"></div>
                </div>
            </div>

            <!-- 프롤로그 텍스트 -->
            <div id="_prolog">
                <div id="_prolog_box">
                    <div id="_prolog_text">1972년 경기도 연천에 한 폐병원에서 비명소리가 들렸다는 신고가 들어온다.

                        해당 병원은 1970년 6월 6일 병원장이 약물 과다 복용으로 사망한 뒤 계속 비워져 있는 것으로 확인되어 신고를 받은 상황실에서는 비를 피해 들어간 노숙자의 고성방가인 것으로 추측했지만

                        1971년 2월 1일 해당 지역 인근에서 발생한 시체 집단 유기 사건과 관련이 있다고 파악한 한 형사는 해당 병원을 조사하게 되는데…
                    </div>
                    <button class="prolSkip" role="button">SKIP&nbsp;>></button>
                </div>
            </div>
        </div>


    </body>
       
        <script src="/data/game_audio.js"></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
        integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
        ></script>
        <script src="/data/game_collisions.js"></script>
        <script src="/data/game_portals.js"></script>
        <!-- <script src="/js/playerclass.js"></script> -->
        <script src="/js/game_js/game_classes.js"></script>
        <script src="/data/game_stuffs.js"></script>
        <script src="/js/game_js/game_common.js"></script>
        <script src="/js/game_js/utill/game_func_inventory.js"></script>
        <script src="/js/game_js/utill/game_func_ui.js"></script>
        <script src="/js/game_js/utill/game_func_stuff.js"></script>
        <script src="/js/game_js/game_canvas_1.js"></script>
        <!-- <script src="/js/canvas_2.js"></script> -->
        <script src="/js/game_js/game_ui.js"></script>
</html>